/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  line-height: 80px;
  /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#root>.container {
  padding: 80px 15px 0;
}

.footer>.container {
  padding-right: 15px;
  padding-left: 15px;
}

.card {
  transition: all 0.2s;
}

.card:hover {
  transform: scale(1.02);
}

.card-title {
  color: red;
}

.card-body {
  flex-direction: column;
  min-height: 300px;
  justify-content: center;
  align-items: center;
}

.card-subtitle {
  font-size: 24px;
}

.small-temp {
  font-size: 16px;
}